[Unit]
Description=Syncthing service
After=network.target

[Service]
User={{syncthing.user}}
Group={{syncthing.user}}
ExecStart={{syncthing.home}}/bin/syncthing
Restart=on-abort

[Install]
WantedBy=multi-user.target
