[Unit]
Description=Syncthing service
After=network.target

[Service]
User={{syncthing_user}}
Group={{syncthing_user}}
ExecStart={{syncthing_home}}/bin/syncthing
Restart=on-abort

[Install]
WantedBy=multi-user.target
